

body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    
}
.card {
    background: hsl(0, 0%, 100%);
    margin: 20% auto;
    border-radius: 25px;
    max-width: 245px;
    margin: 0, 0, 46px;
    border: solid, 1px, rgba(0, 0, 0, 0.1);
    padding: 1rem;
    
}

.img {
    
    margin-top: 10px;
    display:block;
    margin: 0, auto;
    max-width: 100%;
    border-radius: 15px;
}

.card:hover {
    -moz-box-shadow: 0, 0, 10px, #ccc;
    -webkit-box-shadow: 0, 0, 10px, rgb(46, 23, 23);
    box-shadow: 0, 0, 10px, rgb(46, 23, 23);

}

h1 {
    font-size: 1.25rem;
    font-weight: 400,700;
    text-align: center;
    margin: 0, auto;
    margin-left: 10px;
    margin-right: 10px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 17px;
    font-weight: 400,700;
    text-align: center;
    margin: 0, auto;
    padding-bottom: 35px;
    color: hsl(220, 15%, 55%);

}

footer {
    text-align: center;
    font-size: 12px;
    font-weight: 400,700;
}

/*Mobile - not sure how to implement this yet*/
@media (min-width: 375px){
    .card {
        max-width: 300px;
    }
}

/*Desktop - not sure how to implement this yet*/
@media (min-width: 1440px){
    .card{
        max-width:300px;
    }
}